* {
  font-family: 'Montserrat', sans-serif;

}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --lightsage: #B7B7A4;
  --lightersage: #e2e2d4;
  --forest: #6B705C;
}

.spectral {
  font-family: 'Spectral SC', serif;
}

.header-section {
  background-color: var(--lightersage);
}

.nav-section {
  background-color: var(--forest);
}

.card-hover {
  background-color: var(--lightsage);
}

.footer-section {
  background-color: var(--lightersage);
}
