#body {
  background-color: #B7B7A4;
}

.card-hover .overlay {
  display: none;
}

.card-hover:hover .overlay {
  display: block;
  background-color: #e2e2d4;
}

.hidden-link:hover {
  font-weight: bolder;
  box-shadow: 4px;
  text-decoration: underline;
}

.hidden-button {
  padding: 2px;
}

.hidden-button:hover {
  padding: 0px;
}

.card-text {
  font-size: small;
}